.productCard {
  position: relative;
  padding: 2rem 4rem;
background: rgba(255,255,255,0.05);
-webkit-backdrop-filter: blur(38px);
backdrop-filter: blur(38px);
border: 1px solid rgba(255,255,255,0.025);
  border-radius: 0.5rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 1200px) {
  .productCard {
    padding: 2rem;
  }
}

.productCard:hover {
  transform: scale(1.05);
  transition: all 0.2s ease-in-out;
}

.title,
.price,
.category {
  margin: 0.5rem;
}

.title {
  margin-top: 1.5rem;
}

.price {
  font-weight: bold;
}

.category {
  font-size: 0.8rem;
  background: black;
  padding: 0.5rem;
  font-weight: 300;
}
