@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto Condensed", sans-serif;
  max-width: 100%;
  color: whitesmoke;
}

html,
body,
#__next {
  width: 100%;
  height: 100%;
  position: relative;
}

a {
  color: #000;
  text-decoration: none;
}

body {
  background-image: linear-gradient(
    180deg,
    hsl(240deg 20% 2%) 0%,
    hsl(246deg 30% 7%) 10%,
    hsl(252deg 41% 11%) 23%,
    hsl(257deg 55% 15%) 41%,
    hsl(263deg 71% 17%) 60%,
    hsl(269deg 92% 19%) 74%,
    hsl(271deg 91% 20%) 84%,
    hsl(273deg 90% 21%) 91%,
    hsl(274deg 90% 21%) 95%,
    hsl(276deg 89% 22%) 98%,
    hsl(278deg 88% 23%) 100%
  );
}
